*{
margin: 0px;
padding: 0px;
list-style-type: none; /*quita el circulito de las listas*/
}

.Header{
    display: flex;
    justify-content: space-around;
    background-color: #f5f8bc;
}
.Header > div {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    gap: 15px;
}

.Logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.Logo img{
    height: 80px;
}
.search-bar{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;

}
.search-bar input{
    height: 40px;
    width: 100%;
    z-index: 5;
    border: none;
    border-radius: 15px;
}
.search-bar button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
    left: -50px;
    z-index: 10;
}
.search-bar button > img{
    height: 30px;
}

.gbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9f96c3;
    border: #9f96c3;
    border-radius: 15px;
    height: 40px;
    padding: 0 10px 0 10px;
}
.gbtn:hover{
    background-color: #f7cfe1;
    color: #9f96c3;
    cursor: pointer;
}


.Body{
    display: flex;
    background-color: #9f96c3;
}

.Body .MenuD {
    position: relative;
}

.MenuD >h3 {
    width: min-content;
}
.Body .MenuD > ul {
    background-color: #9f96c3;
    position: absolute; /* Posiciona el submenú de forma absoluta */
    top: 0%; /* Alinea el submenú en la parte superior del menú principal */
    left: 100%; /* Desplaza el submenú a la derecha del menú principal */
    display: ; /* Oculta el submenú por defecto */
    width: max-content;
}

.MenuD:hover > ul {
    display: block; /* Muestra el submenú cuando se pasa el ratón sobre el menú principal */
}

.SubMenuD > ul{
    position: relative;
}

.SubMenuD > ul >li{
    background-color: red;
    position: absolute; /* Posiciona el submenú de forma absoluta */
    top: 0px; /* Alinea el submenú en la parte superior del menú principal */
    left: 100%; /* Desplaza el submenú a la derecha del menú principal */
    display: block;/* Oculta el submenú por defecto */
    width: max-content;
    margin-top: 5px;
}

