*{
margin: 0px;
padding: 0px;
list-style-type: none; /*quita el circulito de las listas*/
}
a{
    color: inherit; /* Hereda el color del padre */
    text-decoration: none;
    cursor: pointer;
}

.Header{
    display: flex;
    justify-content: space-around;
    background-color: #f5f8bc;
}
.Header > div {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    gap: 15px;
}

.Logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.Logo img{
    height: 80px;
}
.search-bar{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;

}
.search-bar input{
    height: 40px;
    width: 100%;
    z-index: 5;
    border: none;
    border-radius: 15px;
}
.search-bar button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
    left: -50px;
    z-index: 10;
}
.search-bar button > img{
    height: 30px;
}

.gbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9f96c3;
    border: #9f96c3;
    border-radius: 15px;
    height: 40px;
    padding: 0 10px 0 10px;
}
.gbtn:hover{
    background-color: #f7cfe1;
    color: #9f96c3;
    cursor: pointer;
}


.Body {
    display: flex;
}

.Body .menucontainer{
    display: flex;
}

.Body .MenuD {
    position: relative;
    padding: 0px 10px;
}

.MenuD > h3 {
    width: max-content;
    cursor: pointer;
}

.Body .MenuD > ul {
    background-color: white;
    position: absolute; /* Cambiado a absolute para que no empuje el contenido */
    top: 100%; /* Desplaza el menú principal hacia abajo */
    left: 0; /* Alinea el menú principal al borde izquierdo */
    display: none; /* Oculta el submenú por defecto */
    width: max-content;
    z-index: 1; /* Asegura que el menú principal esté por encima de otros contenidos */
}

.MenuD:hover > ul {
    display: block; /* Muestra el submenú cuando se pasa el ratón sobre el menú principal */
}

.SubMenuD {
    position: relative;
}

.SubMenuD > ul {
    background-color: white;
    position: absolute; /* Posiciona el submenú de forma absoluta */
    top: 0;
    left: 100%; /* Desplaza el submenú a la derecha del menú principal */
    display: none; /* Oculta el submenú por defecto */
    z-index: 1; /* Asegura que los submenús estén por encima de otros contenidos */
}

.SubMenuD:hover > ul {
    display: block; /* Muestra el submenú cuando se pasa el ratón sobre el elemento SubMenuD */
}

.SubMenuD > ul > li {
    background-color: white;
    white-space: nowrap;
}

.MenuD > ul > li {
    position: relative;
    white-space: nowrap;
}

